.jipaige{
    background-color: #1c99a7;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    height: 780px;
}
.item{
    background-color: rgb(255, 255, 255);
    color: yellow;
    font-size: 30px;
    padding: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.chicken1{
    background-color: rgb(197, 197, 37);
    grid-column-start: 1;
    grid-column-end: 3;
}
.chicken4{
    background-color: rgb(148, 19, 148);
    grid-row-start: 2;
    grid-row-end: 4;
}
.chicken6{
    background-color: rgb(170, 252, 47);
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
}
.chicken11{
    background-color: rgb(147, 200, 246);
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 7;
}
.chicken2{
    background-image: url(https://p8.itc.cn/q_70/images03/20230530/95d5d6cf489e43e898e6092e4c69ce81.jpeg);
    
}
.chicken3{
    background-image: url(https://p8.itc.cn/q_70/images03/20230530/95d5d6cf489e43e898e6092e4c69ce81.jpeg);
}
.chicken5{
    background-image: url(https://p8.itc.cn/q_70/images03/20230530/95d5d6cf489e43e898e6092e4c69ce81.jpeg);
}
.chicken7{
    background-image: url(https://p8.itc.cn/q_70/images03/20230530/95d5d6cf489e43e898e6092e4c69ce81.jpeg);
}
.chicken8{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGWISy8tRsruGK8PW8PyzMIbieA1NnBvj6eG1OO3HOEA&s);
}
.chicken9{
    background-image: url(https://p8.itc.cn/q_70/images03/20230530/95d5d6cf489e43e898e6092e4c69ce81.jpeg);
}
.chicken10{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGWISy8tRsruGK8PW8PyzMIbieA1NnBvj6eG1OO3HOEA&s);
}
.chicken12{
    background-image: url(https://p8.itc.cn/q_70/images03/20230530/95d5d6cf489e43e898e6092e4c69ce81.jpeg);
}
.image{
    width: auto;
    height: auto;
}
